@import 'base.css';

/*! purgecss start ignore */
@import 'docsearch.css';
@import 'scrollbar.css';
@import 'prism.css';
/*! purgecss end ignore */

* {
  @apply scroll-mt-28;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-primary-100 text-primary-600 transition-colors duration-500 dark:bg-primary-800 dark:text-primary-300;
}
